In [25]:
import seaborn as sns
import pandas as pd

planets = sns.load_dataset('planets')
planets.head()
planets.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [28]:
planets['decade']=10*(planets['year']//10)
planets.head()
planets.drop('year',1).head()  #drop the column not required ...year note :categorieze as decade

            method  number  orbital_period   mass  distance  decade
0  Radial Velocity       1         269.300   7.10     77.40    2000
1  Radial Velocity       1         874.774   2.21     56.95    2000
2  Radial Velocity       1         763.000   2.60     19.84    2010
3  Radial Velocity       1         326.030  19.40    110.62    2000
4  Radial Velocity       1         516.220  10.50    119.47    2000

In [30]:
planets.query('decade<2010 & mass>10')['mass'].max()  #query

25.0